appdirs==1.4.4
astroid==2.5.3
crayons==0.4.0
cryptography==3.4.7
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
MouseInfo==0.1.3
Pillow==8.2.0
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
tqdm==4.60.0
webdriver-manager==3.4.1
webdrivermanager==0.10.0
webencodings==0.5.1
wrapt==1.12.1
